form{
	width: 30%;
	margin: 100px;
	padding: 30px;
	border: 1px solid #555;
}
input{
	width: 100%;
	border: 1px solid #f1e1e1;
	display: block;
	padding: 5px 10px;
}

table{
	width: 60%;
	border-collapse: collapse;
	margin: 100px auto;

}
th,td{
	height: 50px;
	vertical-align: center;
	border: 2px solid #9e9e9e;

}
.aa{
	background-color: #80808099;
}
t{
	background-color: #80808099;
}
body{
background-color: white;
}
/*button{
	border: none;
	padding:  10px;
	border-radius: 10px;
}*/